<div class="imagen" style="width: 100%; min-height: 75vh;background-image: url('assets/back.jpg');">
  <div class="about-us-container">
    <h1 class="text-center">Sobre Nosotros</h1>
    <div class="about-content">
      <p>
        PeekABook es una plataforma innovadora diseñada para conectar a amantes de los libros. Nuestra misión es facilitar el intercambio de libros físicos de manera segura, fomentando una comunidad de lectores apasionados.
      </p>
      <h2>Misión</h2>
      <p>
        Promover la lectura y el intercambio cultural a través de una plataforma accesible y confiable, conectando a las personas mediante su amor por los libros.
      </p>
      <h2>Visión</h2>
      <p>
        Ser la comunidad líder para el intercambio de libros físicos, conocida por su compromiso con la seguridad, la confianza y la accesibilidad.
      </p>
      <h2>Valores</h2>
      <ul>
        <li><strong>Confianza:</strong> Garantizamos la seguridad en cada transacción.</li>
        <li><strong>Accesibilidad:</strong> Una plataforma sencilla para todos los usuarios.</li>
        <li><strong>Pasión por la lectura:</strong> Inspiramos a más personas a leer e intercambiar ideas.</li>
      </ul>
    </div>
  </div>
</div>
