<div class="grid" [style]="{'background-color': '#8B4513'}" style="align-items: center;">
  <div id="logo" class="col-12 sm:col-12 md:col-4" style="cursor: pointer; text-align: center;" (click)="goHome()">
    <h1 style="font-family: 'Emilys Candy';">Peek [A] Book</h1>
  </div>
  <div class="col-12 sm:col-7 md:col-4" style="padding: 0em 0em;">
    <span class="p-input-icon-right" style="width: 100%; background-color: green; cursor: pointer;" (click)="buscar()">
      <input pInputText class="p-inputtext" placeholder="Search" (keydown.enter)="buscar()" style="width: 88%;"  (click)="$event.stopPropagation()" [(ngModel)]="searchValue"/>
      <i class="pi pi-search" style="cursor: pointer; color: white;"></i>
    </span>
  </div>
  <div *ngIf="!auth" class="col-12 sm:col-5 md:col-4" style="text-align: center; align-items: center;">
      <button class="p-button mr-1" (click)="move('register')">Registrarse</button>
      <button class="p-button" (click)="move('login')">Iniciar Sesion</button>
  </div>
  <div *ngIf="auth" class="col-12 sm:col-5 md:col-4" style="text-align: center; align-items: center;">
    <p-avatar
    styleClass="mr-2"
    [style]="{ 'cursor':'pointer','background-color': '#3B82F6', color: 'white' }"
    size="large"
    shape="circle">
    <i class="pi pi-calendar" style="font-size: 1.5rem"></i>
    </p-avatar>
    <p-avatar
        [label]="'C'"
        styleClass="mr-2"
        [style]="{ 'cursor':'pointer','background-color': 'white', color: '#1a2551' }"
        size="xlarge"
        shape="circle" />
  </div>
</div>

  <div class="grid " [style]="{'cursor':'pointer','background-color': '#8B4513','align-items':'center'}">
    <div class="col-12 ">
      <p-menubar [model]="items" [style]="{'cursor':'pointer','background-color': 'transparent'}" />
    </div>
  </div>


<app-breadcrumb></app-breadcrumb>

