<header>
  <app-navbar [auth]="true"></app-navbar>
</header>

<div id="body" style="height: 75vh; overflow-y: auto;">
  <article>
    <router-outlet></router-outlet>
  </article>
  <footer>

  </footer>
</div>

<!-- <article> -->
  <!-- <div class="grid">
    <div class="col-12 md:col-6 lg:col-4">
      <div class="card">Columna 1</div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div cxlass="card">Columna 2</div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="card">Columna 3</div>
    </div>
  </div> -->

<!-- </article>
<footer>

</footer> -->
