<!-- <img src="/../src/assets/portada-calavera-dia-de-muertos.webp" alt="Imagen" srcset=""> -->
<p-carousel
  [value]="images"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  styleClass="custom-carousel">
  <ng-template pTemplate="item" let-image>
    <div
      class="carousel-item"
      [ngStyle]="{'background-image': 'url(' + image.url + ')', 'background-size': 'cover', 'background-position': 'center'}"
      style="height: 25em; width: 100%; position: relative;">

      <div
        class="invitation-card"
        [ngClass]="{
          'centered-card': image.content.position == 'center',
          'right-card': image.content.position === 'right',
          'top-card': image.content.position === 'top'
        }">
        <h3>{{ image.content.title }}</h3>
        <p>{{ image.content.message }}</p>
        <p-button (click)="register()" icon="pi pi-iconName" label="Regístrate ahora"></p-button>
      </div>
    </div>
  </ng-template>
</p-carousel>

<!-- Primera Lista -->
<div class="carousel-container">
  <div class="carousel-scroll">
    <div *ngFor="let item of items">
      <app-book-card [item]="item"></app-book-card>
    </div>
  </div>
</div>
