<!-- <img src="/../src/assets/portada-calavera-dia-de-muertos.webp" alt="Imagen" srcset=""> -->
 <!-- Carrusel de invitacion -->
<p-carousel
  [value]="images"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  styleClass="custom-carousel">
  <ng-template pTemplate="item" let-image>
    <div
      class="carousel-item"
      [ngStyle]="{'background-image': 'url(' + image.url + ')', 'background-size': 'cover', 'background-position': 'center'}"
      style="height: 25em; width: 100%; position: relative;">

      <div
        class="invitation-card"
        [ngClass]="{
          'centered-card': image.content.position == 'center',
          'right-card': image.content.position === 'right',
          'top-card': image.content.position === 'top'
        }">
        <h3>{{ image.content.title }}</h3>
        <p>{{ image.content.message }}</p>
        <p-button *ngIf="!loged" (click)="register()" icon="pi pi-iconName" label="Regístrate ahora"></p-button>
        <p-button *ngIf="loged" (click)="ver()" icon="pi pi-iconName" label="Ver"></p-button>
      </div>
    </div>
  </ng-template>
</p-carousel>

<!-- Region 1 -->

<div style="width: 100%; background-color: rgb(214, 90, 7); height: 2.5em; display: flex; align-items: center; justify-content: center;">
  <h3>
    Especial Terror
  </h3>
</div>


<!-- Primera Lista -->
<div class="carousel-container">
  <div class="carousel-scroll">
    <div *ngFor="let item of items">
      <app-book-card [item]="item"></app-book-card>
    </div>
  </div>
</div>

<!-- Region 2 -->

<div style="width: 100%; background-color: #64748B; height: 2.5em; display: flex; align-items: center; justify-content: center;">
  <h3>
    Libros Disponibles
  </h3>
</div>


<div class="carousel-container">
  <div class="carousel-scroll">
    <div *ngFor="let item of items">
      <app-book-card [item]="item"></app-book-card>
    </div>
  </div>
</div>

